#landing-main {
  background-image: linear-gradient(-200deg, turquoise, white);
  /* height: 100vh; */
  height: 102vh;
  margin-top: -10vh;
  border-bottom: 3px solid blue;
}

.pic-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-bottom: 2vh;
}

.portrait {
  border: 5px solid hotpink;
  border-radius: 50%;
  height: 40vw;
  width: 40vw;
  margin: 20vh auto 20vw auto;
}

.landing-info-box {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vw;
  width: 30vw;
  color: turquoise;
  background-color: black;
  border: 3px solid blue;
  padding: 10px 15px;
}
.landing-info-box h1 {
  color: hotpink;
}

.meet {
  color: turquoise;
  text-decoration: none;
}

.meet:hover {
  color: blue;
}

#contact-main {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  height: 100px;
}
a {
  font-family: "Titillium Web", sans-serif;
  font-size: 3vw;
}
img {
  color: white;
  height: 3em;
  margin: auto 3vw auto 3vw;
}

h1 {
  /* font-size: 3vw; */
  margin: 0;
  font-size: 5vw;
  font-family: "Sedgwick Ave Display", cursive;
}

.contact-icon:hover {
  background-color: blue;
  border-radius: 50%;
}

@media (min-width: 605px) {
  #landing-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  .pic-info-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 50vh;
    margin-bottom: 2vh;
  }
  .portrait {
    border: 10px solid hotpink;
    height: 25vw;
    width: 25vw;
    margin: auto 10vw auto 20vw;
  }
  .landing-info-box {
    height: 20vw;
    width: 20vw;
  }
  a {
    margin: auto 3vw auto 3vw;
    font-size: 2.5vh;
  }
  h1 {
    font-size: 3vw;
  }
}
