.header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 8vh;
  position: sticky;
  top: 0px;
  background-color: #000000;
  z-index: 1;
  border-bottom: 3px solid blue;
}
.nav-bar {
  width: 90vw;
  display: flex;
  justify-content: space-between;
}
.nav-name {
  font-size: 5vw;
  color: hotpink;
  border: none;
  background-color: transparent;
  font-family: "Sedgwick Ave Display", cursive;
}
.nav-name:hover {
  color: turquoise;
}

.nav-btn-bar {
}

.nav-btn {
  font-size: 4vw;
  color: turquoise;
  border: none;
  background-color: transparent;
  font-family: "Titillium Web", sans-serif;
}

.nav-btn:hover {
  color: hotpink;
}
@media (min-width: 605px) {
  .nav-btn {
    font-size: 3vh;
  }
  .nav-name {
    font-size: 4vh;
  }
}
